<%- include("header") -%>
<div class="box" id="heading">
  <h1>To Do Application</h1>
  <h2> Senior Software Enginner</h2>
  <p> <i> Technically advanced Java Developer with 11+ years of experience in designing, developing, and delivering user-centric software applications using Java/J2EE technologies. Offering strong expertise in multiple programming languages,
      including Spring, Spring Cloud, microservice, JavaScript, ES6, HTML, CSS, and XML. Seeking to secure a challenging position as a Senior Java Developer </i></p>
  <a href="/">Home</a>
</div>

<%- include("footer") -%>
